/* Variables */

:root {
    /* Colors */
    
   
    --color-highlight: #f46f6f;
    --color-primary: #1f1f1f;
    --color-secondary: #151515;
    --color-tertiary: #4b4b4b99;
    --color-dark: #040404;
    --color-light: #ffffff;
    
    --color-neutral: rgba(255, 255, 255, 0.4);
    --color-neutral2: #505050;	
}


* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}


.body {
   color: var(--color-neutral);
   background-color: var(--color-secondary);
}

.header {
    padding: 20px 0 20px 20px;
    background-color: var(--color-dark);
    width: 100vw;
}

.main {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: flex-end;  
    
}

/* Search engine */
.input {
    padding-left: 10px;
    padding-right: 20px;
    background-color: var(--color-neutral2);
    color: var(--color-light);
    border: none;
    border-radius: 20px;
    line-height: 30px;
    width: 300px;
}

.input::placeholder {
    color: var(--color-neutral);
    
}

/* Favorite section */
.fav {
    width: 120px;
    min-width: 120px;
    height: 100vh;
    background-color: var(--color-primary);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-heart {
    color: var(--color-highlight); 
}

.js-fav-li {
    text-align: center;
    margin-top: 10px
}

.js-fav-li img{
    width: 90px;
}

.js-fav-li p{
    color: var(--color-neutral);
    margin-bottom: 15px;
}

/* RESULTADOS */
.results {
    margin-top: 20px;
    padding:20px
}

.results-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.js-results-li{
    margin: 5px;
    overflow: hidden;
    border: 1px solid transparent;
    box-shadow: 0px 8px 40px rgb(0, 0, 0);
    border-radius: 16px ;
    background-color: #2e2e2e;;
    color: var(--color-light);
}

.js-results-li:hover {
    box-shadow: 0px 8px 40px rgba(255, 255, 255, 0.10);
    border: 1px solid var(--color-light);
    cursor: pointer;
}

.js-results-li img{
    filter: brightness(80%);
}

.js-results-li img:hover{
    filter: none;   
}

.js-results-li p{
    padding-left: 16px;
    width: 210px;
    line-height: 20px;
    margin: 8px 0 ;
}

/* Classes added from JS*/
.highlight {
    box-shadow: 10px 10px 15px 5px rgba(40, 59, 164, 0.15);
    border-radius: 16px ;
    background-color: var(--color-light);
    color: var(--color-secondary);
    font-weight: 500;
    border: 1px solid var(--color-light);
}

.highlight:after{
    content: "♡";
    position: absolute;
    color: var(--color-highlight);
    font-size: 24px;

    transform: translate(180px, -330px);
}

.hidden {
    display: none;
}

.small {
    font-size: 10px;
    text-align: center;
}

.button {
    border:none;
    border-radius: 15px;
    width: 50px;
    padding: 6px 10px;
    margin: 15px 0;;
    background-color: var(--color-tertiary);
    color:var(--color-light);
}

.button:hover {
    background-color: var(--color-neutral);
    color: rgb(186, 186, 186);
    cursor: pointer;
}

/* x button */
.corner {
    position: absolute;
    transform: translate(-27px, -7px);
}

.fa-times {
    color: var(--color-dark);
    padding: 10px;
}

.fa-times:hover {
    color: var(--color-highlight);
    cursor: pointer;
}

/* Heart icon */
.corner2 {
    position: absolute;
}

.fa-beat {
    animation:fa-beat 5s ease infinite;
}

@keyframes fa-beat {
    0% {
      transform:scale(1);
    }
    5% {
      transform:scale(1.25);
    }
    20% {
      transform:scale(1);
    }
    30% {
      transform:scale(1);
    }
    35% {
      transform:scale(1.25);
    }
    50% {
      transform:scale(1);
    }
}